<html>
<body bgcolor="#fff288">
<table width="100%">
    <tr>
        <td><h1>&nbsp;</h1></td>
        <%
        part = @partition
        used_size = 0
        total_size = part.dev.size unless part.nil?
        while !part.nil?
            used_size += part.size
        %>
        <td valign="center" align="center" width="<%= calc_width(part) %>%" bgcolor="<%= color_part(part.type) %>">
            <font color="#FFFFFF">
            <% if calc_width(part) > 1 %>
            <% if part.type == "unallocated" %>
                unallocated
            <% else %>
            <% if part.label != "" %>
                <%= part.label %>
            <% else %>
                <%= part.path %>
            <% end %>
            <% end %><br><%= part.size > 1024 ? part.size / 1024 : part.size %><%= part.size > 1024 ? "GB" : "MB" %>
            <% else %>
            &nbsp;
            <% end %>
            </font>
        </td>
        <% part = part.nextPartition %>
        <% end %>

        <td><h1>&nbsp;</h1></td>
    </tr>
</table>
</body>
</html>
