<html>
<body background="<%= image_url("progress.png") %>">
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(0) %>Welcome<%= end_highlight(0) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(1) %>Select Language<%= end_highlight(1) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(2) %>Select Timezone<%= end_highlight(2) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(3) %>Setup Keyboard<%= end_highlight(3) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(4) %>Select Hard Drive<%= end_highlight(4) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(5) %>Partition Hard Drive(s)<%= end_highlight(5) %><br>
    <% if @setup.advanced_partition %>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(6) %>Partition Editing / Assignment<%= end_highlight(6) %><br>
    <% end %>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(7) %>Create default user<%= end_highlight(7) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(8) %>Grub Bootloader Installation<%= end_highlight(8) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(9) %>Summary<%= end_highlight(9) %><br>
    <hr>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(10) %>Installation Progress<%= end_highlight(10) %><br>
    <img src="<%= bullet %>">&nbsp;&nbsp;<%= highlight_step(11) %>Finished<%= end_highlight(11) %><br>
</body>
</html>
