<html>
<body background="<%= image_url("welcome.png") %>" text="#FFFFFF">
<center><img src="<%= image_url("lemur_logo.png") %>"><br>
<h1>Welcome to <%= lll_name %> <%= lll_version %></h1></center><br><br>
Thank you for trying out Liquid Lemur Linux.  The installer will guide you through the process of installing
Liquid Lemur Linux on your computer.  You will be prompted with a few questions to answer, for your new install to be completed.
<br><br>
Once you have answered the necessary questions, Liquid Lemur Linux will proceed with the installation, and setup on your computer.
This process can take anywhere from a few minutes, to a few hours, based upon your System's processing speed.  Progress of
the installation will be displayed to you while installing, and once finished, you will be prompted to reboot your system.
<br><br>
If you have any problems, please feel free to make a post on <a href="http://liquidlemur.org/lforum/forumdisplay.php?fid=100">Installation Forum</a>
to ask for assistance.  If the installation does not complete, you will still remain in the LiveCD to diagnose any problems.
<br><br>
If you wish to discuss further information about Liquid Lemur Linux, either during, or after the installation, you can join
the community on irc.freenode.net, channel #liquidlemurlinux.<br><br>
Once again, thank you for choosing Liquid Lemur Linux.<br><br>
The Lemur Development Team
</body>
</html>
